<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Finance Tracker</title>
    </head>
    <body>
        <div class="footer">
            <button class="footer-button" type="button" onclick="location.href='/Accounts'">Account Details</button>
            <button class="footer-button" type="button" onclick="location.href='/Home'">Balance Overview</button>
            <button class="footer-button" type="button" onclick="location.href='/Graphs'">Graphical Overview</button>
        </div>
    </body>
</html>