<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Finance Tracker</title>
</head>

<body>
    <header>
            <!-- User Settings Button -->
            <div class="userSettingsButton" onclick="openUserSettings()">
              <img src="../static/images/settingsgear.png" alt="User Settings" class="UserSettingsButton">
            </div>
            <h1 id="styleColorSecondary">Finance Tracker</h1>
    </header>
    <div class="container">
        <div class="sidebar" id="leftsideBar">
            <div class="button-container">
                <h5><button class="buttonMain" type="button" onclick="openAccountForm()">+Account</button></h5>
            </div>
        </div>

        <!-- Main Transaction/Expense Grid Body -->
        <div class="mainGrid" id="transactionsGrid">
          {% for item in storedData["TransactionsAndExpenses"] %}
            {% if item["tOrE"] == "t" %}<div class="mainGridRowT">{% elif item["tOrE"] == "e" %}<div class="mainGridRowE">{% endif %}<div class="mainGridHiddenID">{{ item["id"] }}</div><div class="mainGridType">{{ item["type"] }}</div><div class="mainGridAmount" id={% if item["tOrE"] == "t" %}"t"{% elif item["tOrE"] == "e" %}"e"{% endif %}>{{ item["amount"] }}</div><div class="mainGridDelete"><img class="trashcan" id="{{ item["tOrE"] }}" src="../static/images/trashcan.png" alt="delete"></div></div>
            {% if loop.last %}  
            <div class="mainGridRowFinal"><div class="mainGridTotalTitle">Total:</div><div class="mainGridTotalAmount" id="mainGridTotalAmount"></div></div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="settings" id="rightsideBar">
            <div class="button-container">
                {% if 'username' in session %}
                <button type="button" onclick="logout()">Log Out</button>
                {% else %}
                <button type="button" onclick="openLoginForm()">Login</button>
                <button type="button" onclick="openRegisterForm()">Register</button>
                {% endif %}
                <h5><button class="buttonMain" type="button" onclick="toggleDeleteTransactions()">-Transaction</button></h5>
                <h5><button class="buttonMain" type="button" onclick="openTransactionForm()">+Transaction</button></h5>
            </div>
        </div>
    </div>

    <div class="footer" id="footer">
        <button class="footer-button buttonMain" type="button" onclick="location.href='/Accounts'" id="accountdetails" >Account Details</button>
        <button class="footer-button buttonMain" type="button" onclick="location.href='/Home'" id="balanceoverview" >Balance Overview</button>
        <button class="footer-button buttonMain" type="button" onclick="location.href='/Graphs'" id="graphicaloverview" >Graphical Overview</button>
    </div>


    <!-- Login Form Modal Content -->
    <div id="loginFormDiv" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="closeLoginForm()">&times;</span>
        <form id="loginForm" method="post">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required><br>
          <button type="button" onclick="userLogin()">Login</button>
          <button type="button" onclick="openRegisterForm()">Create New Account</button>
        </form>
      </div>
    </div>

    <!-- Register Form Modal Content -->
    <div id="registerForm" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="closeRegisterForm()">&times;</span>
        <form id="registerNewUser" method="post">
          <input type="text" name="newUsername" id="newUsername" placeholder="Username" required>
          <input type="password" name="newPassword" id="newPassword" placeholder="Password" required>
          <div class="buttonCreateNewAccount"><button type="button" onclick="registerNewUser()">Create Account</button></div>
        </form>
      </div>
    </div>

    <!-- User Settings Modal Form -->
    <div id="userSettingsForm" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="closeUserSettingsForm()">&times;</span>
        <form action="/updateUserSettings" method="post">
          User Settings Form
          <label for="homeTimeframe">Home Timeframe: </label>
          <select id="homeTimeframe" name="homeTimeframe">
            <option value="daily"{% if storedData['User']['homeTimeframe'] == 'daily' %} selected{% endif %}>Daily</option>
            <option value="weekly"{% if storedData['User']['homeTimeframe'] == 'weekly' %} selected{% endif %}>Weekly</option>
            <option value="monthly"{% if storedData['User']['homeTimeframe'] == 'monthly' %} selected{% endif %}>Monthly</option>
          </select><br>
          <label for="displayColorPrimary">Primary Display Color:</label>
          <input type="color" id="displayColorPrimary" name="displayColorPrimary" value="{{ storedData['User']['displayColorPrimary'] }}"><br>
          <label for="displayColorSecondary">Secondary Display Color:</label>
          <input type="color" id="displayColorSecondary" name="displayColorSecondary" value="{{ storedData['User']['displayColorSecondary'] }}"><br>
        <button type="submit">Apply</button>
        <button type="button" onclick="closeUserSettingsForm()">Cancel</button>
        </form>
      </div>
    </div>

    <!-- Create Transaction Modal Form -->
    <div id="transactionForm" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="closeTransactionForm()">&times;</span>
        <form action="/newTransactionOrExpense" method="post">
          <label for="amount">Amount:<input type="number" name="amount" id="amount" placeholder="0" required></label>
          <br>Deposit<label class="switch">
            <input type="checkbox" name="toggleTransactionExpense" id="toggleTransactionExpense" value="expense">
            <span class="slider round"></span>
          </label>Expense
          <br><label for="transactionType" id="transactionExpenseLabel">Type:</label>
          <select id="transactionType" name="transactionType">
            <option value="work">Work</option>
            <option value="gift">Gift</option>
            <option value="account transfer">Account Transfer</option>
            <option value="other">Other</option>
          </select>
          <select id="expenseType" name="expenseType">
            <option value="food">Food</option>
            <option value="gas">Gas</option>
            <option value="bills">Bills</option>
            <option value="housing and accomodations">Housing</option>
            <option value="other">Other</option>
          </select>
          <br><label for="account">Account:</label>
          <select id="account" name="account">
            {% for account in storedData["Accounts"] %}
            <option value='{{ account[0] }}'>{{ account[0] }}</option>
            {% endfor %}
          </select>
          <br><label for="date">Date: </label><input type="date" id="transactionDate" name="transactionDate">
          <label for="time">Time: </label><input type="time" id="transactionTime" name="transactionTime">
          <br><button type="submit" id="submitTransactionExpense" style="background-color: lightgreen;" onclick="updateTotal()">+</button>
        </form>
      </div>
    </div>
    
    <!-- Create Account Modal Form -->
    <div id="accountForm" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="closeAccountForm()">&times;</span>
        <form action="/newAccountFromHomePage" method="post">
          <label for="accountName">Account Name: </label>
          <input type="text" name="accountName" id="accountName" required>
          <br><label for="checking">Checking<input type="radio" id="checking" name="accountType" value="checking" required>
          </label>
          <br><label for="saving">Saving<input type="radio" id="saving" name="accountType" value="saving" required>
          </label>
          <br><label for="credit">Credit<input type="radio" id="credit" name="accountType" value="credit" required>
          </label>
          <br><label for="initialBalance">Initial Balance: </label>
          <input type="number" name="initialBalance" id="initialBalance" placeholder="(Optional)">
          <button type="submit">Create Account</button>
        </form>
      </div>
    </div>

</body>
<script>
  deleteTransactionsToggled = false;
  trashcans = document.getElementsByClassName("trashcan")
  const DateObj = new Date();
  
  window.onload = function(){
    document.body.style.backgroundColor = "{{ storedData['User']['displayColorPrimary'] }}";
    document.getElementById("leftsideBar").style.backgroundColor = "{{ storedData['User']['displayColorPrimary'] }}";
    document.getElementById("rightsideBar").style.backgroundColor = "{{ storedData['User']['displayColorPrimary'] }}";
    document.getElementById("footer").style.backgroundColor = "{{ storedData['User']['displayColorPrimary'] }}";
    document.getElementById("styleColorSecondary").style.borderColor = "{{ storedData['User']['displayColorSecondary'] }}";
    var buttons = document.getElementsByClassName("buttonMain");
    for(var x = 0; x < buttons.length; x++){
      buttons[x].style.backgroundColor = "{{ storedData['User']['displayColorSecondary'] }}"
    }
    {% if not session.username %}
    openLoginForm();
    {% endif %}
    
    var transactionsAmount = {{ storedData["Transactions"] | length }};
    //const mainGrid = document.getElementById("TransactionsGrid");
    for(var x = 0; x < trashcans.length; x++){
      trashcans[x].style.display="none";
      trashcans[x].addEventListener('click', function(event) {
        if (event.target.id=="t"){
          var deleteID = event.target.closest(".mainGridRowT").querySelector(".mainGridHiddenID").innerText;
          var deleteType = "transactions"
        } else if (event.target.id=="e"){
          var deleteID = event.target.closest(".mainGridRowE").querySelector(".mainGridHiddenID").innerText;
          var deleteType = "expenses"
        };
        fetch("/deleteDataByID", {
          method:"DELETE",
          headers: {
            "Content-Type":"application/json"
          },
          body: JSON.stringify({
            "id":deleteID,
            "type":deleteType})
        })
        .then(response => {
          if(response.ok){
            if (event.target.id=="t"){
              var rowToDelete = event.target.closest(".mainGridRowT");
            } else if (event.target.id=="e"){
              var rowToDelete = event.target.closest(".mainGridRowE")
            }
            rowToDelete.remove();
            updateTotal();
          } else {
            console.error("Request failed with status: " + response.status);
            alert("There was an error while deleting your transaction")
          }
        });
      })
    }
    updateTotal();
    /*for(const transaction in transactions){
      alert(transaction)
      mainGrid.insertBefore(makeTypeRow(transaction["type"]), mainGrid.lastElementChild);
      mainGrid.insertBefore(makeAmountRow(transaction["amount"]), mainGrid.lastElementChild);
    }*/
  }

  function userLogin(){
    formData = new FormData(document.getElementById("loginForm"))
    dataToSend = Object.fromEntries(formData.entries());
    fetch('/login',{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
      },
      body:JSON.stringify(dataToSend)
    })
    .then(response=>response.json())
    .then(json=>{
      alert(json.message)
      if(json.status == "error"){
        alert(json.message)
      } else{
        location.reload()
      }
    })
  }

  function registerNewUser(){
    formData = new FormData(document.getElementById("registerNewUser"))
    dataToSend = Object.fromEntries(formData.entries());
    fetch('/register',{
      method:'POST',
      headers: {
        'Content-Type':'application/json',
      },
      body:JSON.stringify(dataToSend)
    })
    .then(response=>response.json())
    .then(json => {
      if(json.status === "error"){
        alert(json.message)
      } else{
        alert("Account created successfully!")
        location.reload()
      }
    })
  }
  
  function toggleDeleteTransactions(){
    if (deleteTransactionsToggled){
      closeDeleteTransactions()
    } else {
      openDeleteTransactions()
    }
    deleteTransactionsToggled = !deleteTransactionsToggled
  }

  function openDeleteTransactions(){
    for(var x = 0; x < trashcans.length; x++){
      trashcans[x].style.display="block";
    }
  }

  function closeDeleteTransactions(){
    for(var x = 0; x < trashcans.length; x++){
      trashcans[x].style.display="none";
    }
  }

  function openUserSettings(){
    document.getElementById("userSettingsForm").style.display="block";
  }

  function closeUserSettingsForm(){
    document.getElementById("userSettingsForm").style.display="none";
  }

  function makeTypeRow(Data){
    gridRowType = document.createElement("div");
    gridRow.className = "mainGridType";
    gridRow.innerText = Data;
  }
   
  function makeAmountRow(Data){
    gridRowAmount = document.createElement("div");
    gridRow.className = "mainGridAmount";
    gridRow.innerText = Data;
  }

  function openLoginForm() {
    document.getElementById("loginFormDiv").style.display = "block";
  }

  function openTransactionForm() {
    let currentYear = DateObj.getFullYear()
    // For some reason, .getMonth() returns one too low. Maybe incremented from zero? Either way, dumb. Just added one.
    let currentMonth = DateObj.getMonth() + 1
    let currentDay = DateObj.getDate()


    currentDate = currentYear
    

    if (currentMonth < 10){
      currentDate = currentDate + "-0" + currentMonth
    } else {
      currentDate =  currentDate + "-" + currentMonth
    }

    if (currentDay < 10){
      currentDate = currentDate + "-0" + currentDay
    } else {
      currentDate = currentDate + "-" + currentDay
    }

    let currentHour = DateObj.getHours()
    let currentMinute = DateObj.getMinutes()
    let currentTime = ""
    if (currentHour < 10){
      currentTime = "0" + currentHour
    } else {
      currentTime = currentHour
    }
    if (currentMinute < 10){
      currentTime = currentTime + ":0" + currentMinute
    } else {
      currentTime = currentTime + ":" + currentMinute
    }
    currentTime = currentTime + ":00"
    document.getElementById("transactionDate").value = currentDate
    document.getElementById("transactionTime").value = DateObj.getHours() + ":" + DateObj.getMinutes() + ":00"
    document.getElementById("toggleTransactionExpense").addEventListener('change', function() {
      if (this.checked){
        document.getElementById("transactionType").style.display = "none";
        document.getElementById("expenseType").style.display = "block";
        document.getElementById("transactionExpenseLabel").setAttribute("for", "expenseType")
        this.value="expense"
      } else {
        document.getElementById("expenseType").style.display = "none";
        document.getElementById("transactionType").style.display = "block";
        document.getElementById("transactionExpenseLabel").setAttribute("for", "transactionType")
        this.value="transaction"
      }
    })
    
    if ({{ storedData["Accounts"]|length }} == 0) {
      alert("Error! Please create an account for transactions first.")
    } else {
      document.getElementById("transactionForm").style.display = "block";
      document.getElementById("expenseType").style.display = "none";
      document.getElementById("transactionType").style.display = "block";
      document.getElementById("transactionExpenseLabel").setAttribute("for", "transactionType")
    }
  }

  function closeTransactionForm() {
    document.getElementById("transactionForm").style.display = "none";
  }

  function openAccountForm(){
    document.getElementById("accountForm").style.display = "block";
  }

  function closeAccountForm(){
    document.getElementById("accountForm").style.display = "none";
  }

  function closeLoginForm(){
    document.getElementById("loginFormDiv").style.display = "none";
  }

  function openRegisterForm(){
    document.getElementById("registerForm").style.display="block";
  }

  function closeRegisterForm(){
    document.getElementById("registerForm").style.display = "none";
  }

  function updateTotal(){
    var rowAmounts = document.getElementsByClassName("mainGridAmount");
    var sum = 0;
    for (var i = 0; i < rowAmounts.length; i++){
      var intValue = parseInt(rowAmounts[i].innerText, 10);
      if(rowAmounts[i].id == "t"){
        sum += intValue;
      } else if (rowAmounts[i].id == "e"){
        sum -= intValue;
      }

    }
    document.getElementById("mainGridTotalAmount").innerText = sum;
  }

  function logout(){
    fetch('/logout',{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
      },
      body:JSON.stringify("Log out request")
    })
    .then(response=>response.json())
    .then(json=>{
      if(json.status==="error"){
        alert("Error: ", json.message)
      } else {
        alert("Log out successful!")
        location.reload()
      }
    })
  }

</script>
</html>
